body {
  background: #c2c2d6;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#calculator{
  display: block;
  width: 400px;
  height: 350px;
  margin:0 auto;
  background-color: black;
  border: 2px solid #47476b;
 
}
@media (max-width: 420px) {
  #calculator {
    float: none;
    width: 250px;
  }
}


button{
  display: inline-block;
  width: 100px;
  height: 50px;
  outline: 1px solid black;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  background: #4d4d4d;
  color: white;
  
}

@media (max-width: 402px) {
  /* For mobile phones: */
  button{
    width: 25%
  }
}

button:hover {
    color: black;
    outline: .05em solid grey;
  }

.clear{
  width: 160px;
  background-color: #ac3939;
}

@media (max-width: 402px) {
  .clear{
    width: 45%
  }
}
.divide{
  width: 140px;
}

@media (max-width: 402px) {
  .divide{
    width: 30%
  }
}
.zero{
  width: 185px;
}

@media (max-width: 402px) {
  .zero{
    width: 49%
  }
}

.decimal{
  width: 115px;
}

@media (max-width: 402px) {
  .decimal{
    width: 29%
  }
}

.vision{
  font-size: 29px;
  font-family: digital;
  color: orange;
  text-align: right;
  line-height: 35px;
}

.equal{
  position: absolute;
  height: 100px;
  width:101px;
  background-color: #004466;
  
}

@media (max-width: 401px) {
  .equal{
   width:63px;
  }
}